.home-content {
    padding: 10px;
  }
  
  .home-content p {
    padding: 10px;
    background-color: gainsboro;
    border-radius: 10px;  
  }
  
  .add-button,
  .cancel-button,
  .delete-button,
  .save-button {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 20px;
  }

  .add-button {
    background-color: skyblue;
  }

  .cancel-button {
    background-color: gray;
  }

  .delete-button {
    background-color: red;
  }

  .save-button {
    background-color: darkorange;
  }
  
  .add-task-form, 
  .edit-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 10px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
  }

  .add-task-form input, 
  .edit-task-form input,
  .add-task-form select,
  .edit-task-form select {
    width: 90%;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin: 5px 10px;
  }

  .form-row label {
    margin-right: 10px;
  }

